.dataview-multisort-item {
    float: left;
    padding: 8px;
    margin: 8px 8px 4px 8px;
}

.iclogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.x-item-selected {
    outline: 1px solid #157fcc !important;
    outline-offset: -1px;
}

.remote-image-background {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.x-title-wrappable-text > div {
    overflow: auto;
    white-space: normal;
    vertical-align: top;
}

.x-title-wrappable-text > div > div {
    font-size: 20px;
    line-height: normal;
}

.x-title-wrappable-text small {
    font-size: 14px;
    line-height: 16px;
}

.x-wrappable-grid .x-grid-cell-inner {
    white-space: normal;
}

.x-form-reload-trigger {
    background-image: url(../bundles/partkeeprfrontend/images/form/reload-trigger.png);
}

.x-form-trigger-save {
    background-image: url(../bundles/partkeeprfrontend/images/form/trigger-save.png);
}

.x-form-trigger-add {
    background-image: url(../bundles/partkeeprfrontend/images/form/trigger-add.png);
}

.x-form-trigger-delete {
    background-image: url(../bundles/partkeeprfrontend/images/form/trigger-delete.png);
}

.x-form-trigger-link {
    background-image: url(../bundles/partkeeprfrontend/images/form/trigger-link.png);
}

.x-form-trigger-help {
    background-image: url(../bundles/partkeeprfrontend/images/form/trigger-help.gif);
}

.x-form-trigger-ellipsis {
    background-image: url(../bundles/partkeeprfrontend/images/form/trigger-ellipsis.png);
}

.partkeepr-part-manager-compact {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 73px;
    height: 43px;
    line-height: 16px;
    vertical-align: text-top;
    background-image: url(../bundles/partkeeprfrontend/images/config/layout-compact.png);
}

.partkeepr-part-manager-standard {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 73px;
    height: 43px;
    line-height: 16px;
    vertical-align: text-top;

    background-image: url(../bundles/partkeeprfrontend/images/config/layout-standard.png);
}

#loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
}

#loader-message {
    position: fixed;
    top: 70%;
    text-align: center;
    font-size: 30px;
}

#loader-logo {
    background-image: url(../bundles/partkeeprfrontend/images/partkeepr_loading.svg);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 150px;
    width: 150px;
    position: fixed;
    top: 50%;
left: 50%;
margin-top: -75px;
margin-left: -75px;

}

#loader {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0087b0;
    background-position: center;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    top: 50%;
    left: 50%;
    margin-top: -103px;
    margin-left: -103px;
    position: fixed;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #007497;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    right: 13px;
    bottom: 13px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #005d7a;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

s
